{% extends 'base.html' %}
{% block header %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{% endblock %}
{% block content %}
	<div>
		<div class="center">
			<form method="post" class="card" novalidate>
				{% csrf_token %}
				<h2 class="text-center" style="color: #292b2c;">Вход в личный кабинет</h2>
				{% for field in form %}
					{{ field.label_tag }} 
						{{ field }}
						{% if field.errors %}
							<small>{{ field.errors|striptags }}</small> 
						{% endif %}
			  	{% endfor %}
			  
			  <input type="submit" value="Login" class="btn btn-primary full-width">
			  <hr>
			  <p class="text-center">Забыли пароль? <a href="#">Восстановить</a></p>
			  <p class="text-center">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
		  </form>
	  </div>
	</div>
<style>
	.center {
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Roboto', cursive;
	}
	.card {
		display: grid;
		width: 500px;
	}
	input {
		display: block;
		width: 100%;
		height: 40px;
		background-image: linear-gradient(90deg,#f2f4f9 0%,#e9ebf0 100%);
		border: none;
		color: #1b1e37;
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		border-radius: 8px;
	}
</style>
{% endblock content %}