* {
    margin: 0px;
    box-sizing: border-box;
}
body {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
} 
.header-content {
    width: 100%;
    background-color: #0a0a0a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    max-height: 100px;
    margin-left: 50px;
}
/*панель с кнопками Вход, Регистрация, Выход*/
.auth {
    font-size: 12px;
    border: 1px white solid;
    border-radius: 10px;
    height: 30px;
    display: table;
}
.auth > div {
  display: table-cell;
  vertical-align: middle;
}
/*Отключает оформление текста у ссылок */
.nav-bar a, .auth a{
  text-decoration: none;
  color: white;
}
.header-content ul {
  list-style: none;
  display: flex;
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin: auto;
}
.header-content ul li{
  margin-right: 25px;
}
.header-content ul li:hover::marker{
  content: '>';
}
.footer {
  display: flex;
  justify-content: space-around;
  height: 150px;
  background-color: #0a0a0a;
}
.footer ul {
    list-style: none;
    font-family: 'Roboto', cursive;
    margin: 50px;
}
.footer a {
    text-decoration: none;
    color: white;
}
.content {
  font-family: 'Roboto', cursive;
  min-height: 100%;
}