.header-content {
  width: 100%;
  background-color: #0a0a0a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  max-height: 100px;
  margin-left: 50px;
}
.auth {
  font-size: 12px;
  border: 1px white solid;
  border-radius: 10px;
  height: 30px;
}
.nav-bar a, .auth a{
  text-decoration: none;
  color: white;
}
.header-content ul {
  list-style: none;
  display: flex;
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin: auto;
}
.header-content ul li{
  margin-right: 25px;
}
.header-content ul li:hover::marker{
  content: '>';
}