@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300&display=swap');
body {
  background-color: #f2f4f9;
  font-family: 'Roboto', cursive;
}
.content {
  margin: 30px auto;
  max-width: 900px;
  padding: 30px 30px;
  min-height: 100%;
  border-radius: 15px;
  background-color: white;
}
.text {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  border-radius: 15px;
  background-color: #f2f4f9;
  align-items: center;
}
.text div {
  margin: auto 0px;
  padding: 0px 20px;
}
.copy img {
  height: 2rem;
  border-radius: 15px;
  background-color: #dddcdc;
  margin-right: 20px;
}
.copy img:hover {
  background-color: #a3a3a3;
  cursor: pointer;
}
.top {
  border-radius: 50px 50px;
}
.check-claim-content {
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;
  font-size: 24px;
  font-weight: bolder;
}
.check {
  display: flex;
  width: 300px;
  background-color: #f2f4f9;
  border-radius: 15px;
}
.check div {
  margin: auto 5px;
  font-size: 18px;
}
.check img {
  width: 60px;
}
.step {
  display: flex;
  margin: 15px 0px;
}
.left {
  width: 50px;
  height: 50px;
  background-color: #0a0a0a;
  border-radius: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 15px;
}
.left p {
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.right {
  margin: auto 0px;
}
.notification {
  background-color: #f2f4f9;
  border-radius: 15px;
}
.timer {
  margin: 30px auto;
  background-color: black;
  font-weight: 900;
  font-size: 20px;
  color: white;
  max-width: 100px;
  border-radius: 15px;
  padding: 5px;
}
.bottom {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
}
.bottom button {
  width: 50%;
  height: 50px;
  border-radius: 15px;
  border: 0px;
  margin: 0px 15px;
  background-color: #f7a600;
  color: #242629;
  border: #242629 2px solid;
  font-size: 20px;
  font-weight: 900;
}
.bottom button:hover {
    background-color: rgb(255, 136, 0);
    cursor: pointer;
}
/* Таймер */
.timeout_wrap {
  display: flex;
  justify-content: center;
}
#timeout {
  display: none;
  border-radius: 15px;
  border: red solid 1px;
  width: 150px;
  font-size: 20px;
  text-align: center;
}
/* Модальное окно */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1050;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in; 
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: 50%;
  margin: 10px;
  margin: 30px auto;
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  padding: 5px 50px ;
}
.modal input {
  margin: 0px 15px;
  height: 50px;
  border-radius: 10px;
  background-color: #f7a600;
  color: #242629;
  font-size: 18px;
  font-weight: bolder;
  border: #242629 2px solid;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .modal-content {
    position: relative;
    display: block;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    padding: 5px 50px ;
    font-size: 16px;
  }
  .modal input {
  font-size: 14px;
  }
}
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: center;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
  word-break: break-all;
} 
.modal-footer {
  display: flex;
  justify-content: center;
}
.modal-footer input:hover {
  background-color: rgb(255, 136, 0);
}
.executed {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
}