{% extends 'news/base.html' %}
{% block content %}
    <div class="container">
        <div class="articles">
            {% for article in articles %}
                <div class="article">
                    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                    <img src="{{ MEDIA_URL }}{{ article.image }}"></img>
                </div>
            {% endfor %}
        </div>
    </div>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300&display=swap');
        .articles>div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-bottom: #c5c5c5 1px solid;
            padding: 10px 0px;
        }
        .articles img {
            width: 200px;
        }
        .articles a{
          text-decoration: none;
          color: rgb(0, 0, 0);
          font-size: 20px;
          font-weight: bolder;
          margin: auto 0px;
          width: 50%;
        }
        .articles {
            font-family: 'Roboto', cursive;
            margin: 50px 300px;
        }
        .articles a:hover {
            color: rgba(0, 0, 0, 0.671);
        }
    </style>
{% endblock %}
