{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300&display=swap" rel="stylesheet"> 
<header>
	<div class='header-content'>
		<img class="logo" src='{% static "main/images/logo.svg" %}'></img>
		<div class="nav-bar">
			<ul>
				{% for link in nav_bar %}
					<li>
						<a href="{% url link.url_name %}">{{ link.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		
	</div>
</header>
<link rel="stylesheet" href="{% static 'main/css/header.css' %}"/>