<a class="dropdown-type-filter active" data-type="all" data-way="1">Все</a>
<a class="dropdown-type-filter" data-type="r" data-way="1">RUB</a>
<a class="dropdown-type-filter" data-type="d" data-way="1">USD</a>
<a class="dropdown-type-filter" data-type="e" data-way="1">EUR</a>
<a class="dropdown-type-filter" data-type="u" data-way="1">UAH</a>
<a class="dropdown-type-filter" data-type="k" data-way="1">KZT</a>
<a class="dropdown-type-filter" data-type="b" data-way="1">BYN</a>
<a class="dropdown-type-filter" data-type="c" data-way="1">Coin</a>