{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <title>Главная</title>
  </head>
  <body>
    {% include 'main/header.html'%}
    <div class="container">
    {% include 'main/coins.html' %}
    </div>
    {% include 'main/footer.html' %}
  </body>
</html>