{% extends 'base.html' %}
{% load static %}
{% block header %}
  <link rel="stylesheet" href="{% static 'main/css/order_info.css' %}" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
{% endblock %}

{% block content %}
<div class="wrap">
  <div class="content">
    <div class="top">
      <div class="head">
        <div class="executed">{{ order.status.status }}</div>
      </div>
      <h1 style="text-align: center;">Заявка {{ order.number }}</h1>
      <div class="timeout_wrap">
        <div id="timeout">Время вышло</div>
      </div>
      <div class="timer" id="timer" style="display: flex;justify-content: center;">
        <div id="minutes">{{ minutes }}</div>:<div id="seconds">{{ seconds }}</div>
      </div>
      <div class="check-claim-content">
        <div class="check receive">
          <div id="icon"><img src="{{ MEDIA_URL }}{{ order.give.image }}"></div>
          <div id="amount">{{ order.give_sum }} {{ order.give.currency_name_short }}</div>
        </div>
        <div style="display: table;"><div style="display: table-cell; vertical-align: middle;">></div></div>
        <div class="check give">
          <div id="icon"><img src="{{ MEDIA_URL }}{{ order.receive.image }}"></div>
          <div id="amount">{{ order.receive_sum }} {{ order.receive.currency_name_short }}</div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    {% if minutes != '00' and seconds != '00' %}
    <div class="middle">
      <div class="step">
        <div class="left"><p>1</p></div>
        <div class="right"><p>Перевести {{ give_sum }} RUB по реквизитам:</p></div>
      </div>
      <div class="item">
        <p>Номер карты</p>
        <div class="text">
          <div>{{ order.address_to }}</div>
          <button style="border: none;" class="copy">
            <img src="{{ IMAGES_URL }}copy-icon.svg">
          </button>
        </div>
      </div>
      <div class="item">
        <p>Сумма</p>
        <div class="text">
          <div>{{ order.give_sum }} {{ order.give.currency_name_short }}</div>
          <button style="border: none;" class="copy">
            <img src="{{ IMAGES_URL }}copy-icon.svg">
          </button>
        </div>
      </div> 
      <div class="step">
        <div class="left"><p>2</p></div>
        <div class="right">
          <p>После оплаты, нажмите кнопку «Я оплатил»</p>
        </div>
      </div>
      <p class="notification">В течение 5-15 минут, после поступления Ваших денег на наш счет она будет обработана и средства будут перечислены на указанный Вами кошелек или счет.
        <br>
        <br>
        Отследить статус заявки можно через Ваш личный кабинет.
        <br>
        <br>
        Пожалуйста убедитесь, что Вы не только нажали на кнопку «Я оплатил», но и действительно перевели к нам средства.
        <br>
        <br>
        По всем вопросам, или в случае задержки обмена, обращайтесь в техническую поддержку.</p>
    </div>
    <div class="bottom">
      <button id="confirm" type="submit">Я оплатил</button>
      <button id="cancel" type="submit">Отмена</button>
    </div>
    {% else %}
      <div class="middle">
        <p>Обмен {{ order.give_sum }} {{ order.give.currency_name_short }} 
          на {{ order.receive_sum}} {{ order.receive.currency_name_short }}</p>
          <div class="item">
            <p>На адрес</p>
            <div class="text">
              <div>{{ order.address_to }}</div>
              <button style="border: none;" class="copy">
                <img src="{{ IMAGES_URL }}copy-icon.svg">
              </button>
            </div>
          </div>
      </div>
    {% endif %}
  </div>
</div>
<div id="openModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
        <p class="note-modal">
          <br>
          <br>
          После отправки средства не всегда поступают мгновенно.
          <br>
          <br>
          Зачисление средств на наш счёт может занять некоторое время.
          <br>
          <br>
        </p>
      </div>
      <div class="modal-footer">
        <input type="button" id="close" value="Закрыть" onclick="closeModal()">
      </div>
    </div>
  </div>
</div>
<style>
</style>
{% endblock %}
{% block script %}
  {% if minutes != '00' and seconds != '00' %}
    <script type="text/javascript" src="{% static 'main/js/order_timer.js'%}"></script>
  {% endif %}
{% endblock %}