{% extends 'base.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href="{% static 'main/css/order_info.css' %}" type="text/css">
{% endblock %}
{% block content %}
    <div class="content">
        <ul>
            {% for order in orders %}
                <li>
                    <div class="order-wrap">
                        <div class="head">
                            <div class="executed">{{ order.status.status }}</div>
                        </div>
                        <a href="{{ order.get_absolute_url }}" class="middle">
                            <div>
                                <h2>Отдадите</h2>
                                <div class="check receive">
                                    <div><img src="{{ MEDIA_URL }}{{ order.give.image }}"></div>
                                    <div>{{ order.give_sum }} {{ order.give.currency_name_short }}</div>
                                </div>
                                <div class="address-to-wrap"><span>На адрес {{ order.address_to }}</span></div>
                            </div>
                            <div style="display: table;"><div style="display: table-cell; vertical-align: middle;">></div></div>
                            <div>
                                <h2>Получаете</h2>
                                <div class="check give">
                                    <div><img src="{{ MEDIA_URL }}{{ order.receive.image }}"></div>
                                    <div>{{ order.receive_sum }} {{ order.receive.currency_name_short }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
<style>
.order-wrap {
    background-color: rgb(255, 255, 255);
    padding: 50px 0px;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 20px;
} 
.middle {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  text-decoration: none;
  color: black;
}
.address-to-wrap {
    font-size: 12px;
}
.content ul {
    list-style: none;
}
.head {
    display: flex;
    justify-content: center;
}
.executed {
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
}
</style>
{% endblock %}